<div class="row">
    <div class="col-md-10">
        <h3 class="block">Users</h3>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
            </tr>
            <tr ng-hide="vm.users.length" >
                <td colspan="5">No users found, Please create one.</td>
            </tr>
            <tr ng-show="vm.users.length" ng-repeat="user in vm.users">
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                    <a ng-click="vm.editUser(user)">Edit</a> | <a ng-click="vm.deleteUser(user)">Remove</a>
                </td>
            </tr>
        </table>
        <a class="btn btn-primary" ng-click="vm.addUser()">Create a user</a>
    </div>
</div>
